/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  padding: 45px 15px;
}

section {
  min-height: 200px;
  padding: 30px 15px;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}*/

/*----------------*/


* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #ECF0F5;
  font-size: 17px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  /*background-image: linear-gradient(to right, #e6f5ff 0%, #b3e0ff 31%, #e6f5ff 100%);*/
}

nav,
footer {
  padding: 1% 0;
  background-color: #338fff;
  height: 50px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

fieldset {
  border: 1px solid gray;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

.content-with-nav {
  margin-top: 55px;
}


/*.container{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.panel {
  padding: 12px;
}

.bookmark-panel {
  margin-top: 5px;
  border-radius: 7px;
  border: 1px solid #338fff;
}

.bookmark-panel-header {
  background-color: #338fff;
  font-size: 20px;
  color: white;
}

.bookmark-panel-header span {
  float:right;
}

.bookmark-panel-footer{
  padding: 0;
  margin: 0;
}

.bookmark-panel-footer .buttons{
  padding: 0;
  margin: 0 0 8px 0;
}

.fa-star {
  color: gray;
}

.checked {
  color: #F5B041;
}

label {
  width:29%;
  display: inline-block;
}

input, textarea {
  width: 70%;
  float: right;
}

.form-inputs{
  width: 75%;
  display: inline-block;
}

.form-rating{
  text-align: center;
  margin: 0 auto;
  width: 23%;
  float: right;
}

.form-rating label {
  display: block;
  width: 70%;
}

.form-rating input {
  float: none;
}*/

button {
    margin: 15px auto 0px auto;
    padding: 9px 32px;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 3px #6C757D;
}

button:active {
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}

.blue {
  background-color: #167AF6;
}

.blue:hover, .blue:focus {
    background-color: #1264C9;
}

.green {
  background-color: #4CA846;
}

.green:hover, .green:focus {
    background-color: #3B8236;
}

.orange {
  background-color: #F8C246;
}

.orange:hover, .orange:focus {
    background-color: #B89034;
}

.red {
  background-color: #DC3545;
}

.red:hover, .red:focus {
    background-color: #A02632;
}

.gray {
  background-color: #D5D5D5;
  border: 1px solid #ACAC9D;
  color: black
}

.gray:hover, .gray:focus {
  background-color: #ACAC9D;
}

.errorMsg {
  margin-top: 5px;
  padding: 5px;
  color: red;
  border: 1px solid red;
  border-radius: 3px;
}

.border-gray {
  border: 1px solid #ACAC9D;
}

section {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid #DBDBEA;
  border-radius: 7px;
}

section fieldset{
  border: 1px solid #DBDBEA;
  background-color: white;
  border-radius: 7px;
}

input, textarea {
  font-size: 15px;
}

.item-description div{
  display: inline-block;
  width: 45%;
}

.item-description-p div{
  display: inline-block;
  width: 30%;
}

.div-picture {
  display: inline;
  width: 30%;
}

.div-content {
  width: 60%;
  display: inline-block;
}

.div-picture img{
  max-width:100px;
  height:auto;
}

.item-description span, .item-description-p span{
  color: gray;
}
/*
.buttons {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.buttons button {
  margin-top: 10px;
  width: 30%;
}

.header {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.header div {
  text-align: center;
  display: inline-block;
  width: 60%;
}

.header label {
  display: inline-block;
  width: 200px;
}

.header select {
  width: 120px;
  border: 1px solid #167AF6;
}

.error-content {
  border-radius: 7px;
  border: 1px solid red;
  padding: 0 10px 0 10px;
  background-color: #ffcccc;
  width: 100%;
  display: inline-block;
}

.error-content h4 {
  padding: 2px;
  margin: 2px;
  width: 100%;
}

.error-content button {
  width: 10px;
  font-size: 6pt;
  margin-bottom: 5px;
  margin-top: 5px;
  float: right;
  display: inline-block;
}

@media screen and (max-width: 570px) {
  label {
    width: 100%;
    display:block;
  }

  input, textarea{
    width: 100%;
    float: none;
  }

  .form-inputs{
    width: 100%;
    display: block;
  }

  .form-rating{
    width: 100%;
    float: none;
  }

  .form-rating label {
    display: block;
    width: 70%;
  }

  .form-rating input {
    float: none;
    width: 20%;
  }

  .buttons {
    text-align: center;
    width: 100%;
    display: block;
  }

  .buttons button {
    width: 70%;
  }

  .header div, .header label{
    width: 100%;
  }

  .header div {
    margin-top: 10px;
  }
}*/
