
.back-nav {
  top: 15px;
  left: 0;
  width: 20%;
  position: fixed;
}

.name-nav {
  top: -15px;
  right: 0;
  position: fixed;
  width: 70%;
  text-align: center;
  color: white;
}


a{
  color: black;
}

.loading {
  background-color: #555555BB;
  color: white;
  border-radius: 5px;
  padding: 30px;
  position: absolute;
  right: 5px;
}
